body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


button {
    padding: 5px 15px;
    margin: 5px;
}

#left_shoulder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 80%;
}

#right_shoulder {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 80%;
}

    #left_shoulder *, #right_shoulder * {
        height: 100%;
        width: auto;
    }

#RT {
    float: right;
}


#D_Pad {
    position: absolute;
    left: 20%;
    bottom: 20%;
    height: 40vh;
    width: 40vh;
}

#D_Pad_Up, #D_Pad_Down {
    position: absolute;
    left: 40%;
    right: 40%;
    height: 25%;
    width: auto;
}

#D_Pad_Up {
    top: 0;
    bottom: 80%;
}

#D_Pad_Down {
    top: 80%;
    bottom: 0;
}

#D_Pad_Left, #D_Pad_Right {
    position: absolute;
    top: 40%;
    bottom: 40%;
    height: auto;
    width: 25%;
}

#D_Pad_Left {
    left: 0;
    right: 80%;
}

#D_Pad_Right {
    left: 80%;
    right: 0;
}



#buttons {
    position: absolute;
    right: 20%;
    bottom: 20%;
    height: 40vh;
    width: 40vh;
}

#Y, #A {
    position: absolute;
    left: 40%;
    right: 40%;
    height: 25%;
    width: auto;
}

#Y {
    top: 0;
    bottom: 80%;
}

#A {
    top: 80%;
    bottom: 0;
}

#X, #B {
    position: absolute;
    top: 40%;
    bottom: 40%;
    height: auto;
    width: 25%;
}

#X {
    left: 0;
    right: 80%;
}

#B {
    left: 80%;
    right: 0;
}


#leftThumbContainer, #rightThumbContainer {
    height: 20vh;
    width: 20vh;
    border: 1px groove;
    position: absolute;
    bottom: 40px;   
}

#leftThumbContainer {
    left: 40px;
    z-index: 5;
}

#rightThumbContainer {
    right: 10px;
}

#leftThumb {
    width: 10vh;
    height: 10vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: red;
}


#middle {
    position: absolute;
    left: 30%;
    top: 0;
    right: 30%;
    bottom: 90%;
    display: flex;
    justify-content: center;
}

#middle * {
    margin: 10px;
    height: 100%;
    width: auto;
}
