html, body {
    height: 100%;
    margin: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container > div {
    overflow: hidden;
    position: absolute;
}

#middle {
    top: 0;
    bottom: 80%;
    left: 40%;
    right: 40%;
    background-color: lime;
    display: flex;
}

#middle div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#guide {
    flex: 1;
    background-color: limegreen;
}

#guide img {
    width: 80%;
    height: auto;
}

#start {
    flex: 1;
    background-color: darkcyan;
}

#start img {
    width: 80%;
    height: auto;
}


.trigger {
    top: 0;
    bottom: 80%;

    background-color: gray;
}

.trigger, .shoulder {
    display: flex;
    align-items: center;
}

.trigger img, .shoulder img {
    height: 90%;
    width: auto;
}

#LT, #LB {
    left: 0;
}

#LT {
    right: 70%;
}

#LB {
    right: 85%;
}

#RT, #RB {
    right: 0;
    justify-content: flex-end;
}

#RT {
    left: 70%;
}

#RB {
    left: 85%;
}

#RT img, #RB img {
    float: right;
}

.shoulder {
    top: 20%;
    bottom: 60%;
    background-color: red;
}

.nineBtn {
    height: 65vh;
    width: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.nineBtn > div {
    width: 33%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Applies to first and last 3 divs of element (up, down, upleft, downright...)  
.nineBtn div:nth-of-type(-n+3) img, 
.nineBtn div:nth-of-type(n+3) img  {
    width: auto;
    height: 80%;
}*/


/* Applies to middle 3 divs of element (left, middle, right) 
.nineBtn div:nth-of-type(4) img,
.nineBtn div:nth-of-type(5) img,
.nineBtn div:nth-of-type(6) img {
    width: 80%;
    height: auto;
}*/


#D_Pad {
    left: 15%;
    top: 20%;
}
/*
#D_Pad_Up, #D_Pad_Left, #D_Pad_Down, #D_Pad_Right, #A, #X, #Y, #B {
    width: 80%;
    
    background-color: orange;
}
*/


.nineBtn div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
}

.nineBtn .left img, .nineBtn .right img {
    width: 80%;
    height: auto;
}

.nineBtn .top img, .nineBtn .bottom img {
    width: auto;
    height: 80%;
}

.nineBtn .left {
    left: 0;
}

.nineBtn .top {
    top: 0;
}

.nineBtn .right {
    right: 0;
}

.nineBtn .bottom {
    bottom: 0;
}

#letters {
    right: 15%;
    top: 20%;
}

.thumbContainer {
    height: 30vh;
    width: 30vh;
    bottom: 0;
    display: flex;
    background-color: aqua;
}

.thumbMax {
    border: 1px groove;
    flex: 1;
    margin: 25px;
}

.thumb {
    width: 10vh;
    height: 10vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: red;
}

#leftThumbContainer {
    left: 0;
}

#rightThumbContainer {
    right: 0;
}